*{box-sizing: border-box;}
 #mattingHead-container{
   text-align: center;
 }
 #pictureFrame{
   position: relative;
   border: 2px solid #E6EEFF;
   margin: auto;
   box-sizing: border-box;
   max-width:700px;
   height:400px;
   overflow: hidden;
 }
 #dashFrame{
   border:2px dashed #E6EEFF;
   margin: 20px;
   padding:165px 0px;
 }
 #imgCanvas{
   position: absolute;
   display: none;
 }
 #imgCanvas:hover{
   cursor: grab;
 }
 #picInputButton{
   color:white;
   padding: 10px 20px;
   border-radius: 10px;
   background-color: #0080FF;
 }
 #picInputButton:hover{
    cursor: pointer;
    background-color: #80EAFF
 }
 #toolKit{
   display: none;
   max-width: 700px;
   margin: auto;
   text-align: left;
 }
 #scaleRange{
   position: relative;
   display: inline-block;
   background-color: #CCF7FF;
   border:1px solid #4DC3FF;
   width:150px;
   height:5px;
   border-radius: 5px;
   top:-1px;

 }
 #scalePointer{
   cursor: pointer;
   position: absolute;
   display: inline-block;
   background-color: #0080FF;
   border-radius: 50%;
   width: 10px;
   height: 10px;
   top:-3px;
   left:50px;
 }
 #scalePrecentage{
   text-decoration: underline;
 }
 #cropPackage,#eraserPackage,#scaleRangePackage{
   position: relative;
   display: inline-block;
 }
 #mouseButton,#crop,#eraser,#undoButton,#resetButton,#downloadButton{
   position: relative;
   margin-left: 5px;
   background-color:#0080FF;
   border-radius: 5px;
   padding: 3px 8px;
   z-index: 2;
 }
 a{
   color:white;
 }
 #toolKit a:hover{
   cursor: pointer;
   color:#FF66FF;
   background-color: #4DC3FF;
 }
 .stateActiveForBtn{
   border-bottom: 2px solid #FF66FF;
   color:#FF66FF;
 }
 #cropFrame{
   display: none;
   position: absolute;
   border:2px dashed black;
   width:0px;
   height:0px;
 }
 #cropFrame:hover{
   cursor: grab;
   border: 3px dashed red;
 }
#cropTools,#eraserTools{
  position: absolute;
  height:0;
  overflow-y: hidden;
  left:8px;
  top:25px;
  margin-top:-4px;
  transition: 0.2s;
  z-index: 1;
}
.cropButton,.eraserControls{
  text-align: center;
  width:55px;
  border: 2px solid #FF99FF;
  border-top: none;
  padding-bottom: 3px;
  padding-top: 3px;
  opacity: 0.3;
  font-size: 14px;

}
.eraserControls{
  width: 67px;
}
.eraserActive{
  opacity: 1;
  background-color:#FFCCFF;
}
.cropButton:hover,.eraserControls:hover{
  border-bottom: 2px solid #FF66FF;
  cursor: pointer;
  opacity: 1;
}

#eraserPointer{
  display: none;
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #E6EEFF;
  top:50%;
  left:50%
}

@media screen and (max-width:710px) {

  #scaleRangePackage{
    display: block;
    text-align: center;
  }

  #cropPackage,#eraserPackage,#resetButton,#downloadButton,#undoButton,#mouseButton{
    display: block;
    margin-top: 15px;
    float:left;
  }
  #toolKit{
    margin: auto;
  }
  #toolKit>a{
    margin-top: 12px;
  }

}
@media screen and (max-width:480px){
  #scaleRangePackage,#mouseButton{
    display: block;
    margin-top: 15px;
    float:left;
  }
  #mouseButton{
    margin-left: 20px;
  }
  #cropPackage{
    clear:left;
    margin-left:-3px;
  }
}
